<!--
  Generated template for the LoyaltyContactPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="nev-adjust">
    <div class="background hp100">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3526.015009448318!2d78.05931307466504!3d27.901512716902445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974a4592f15388f%3A0x42d6028d802fe6dc!2sLock%20Master%20India%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1686132134318!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="cs-nevigation">
      <div class="map-main" >
        <div class="map-content">
          <div class="location brd-btm"  *ngIf="contact.address">
            <i class="material-icons">location_on</i>
            <p>{{contact.address}}</p>
          </div>
          <div class="location" *ngIf="contact.contact_number">
            <i class="material-icons">phone</i>
            <a href="tel:{{contact.contact_number}}">{{contact.contact_number}} </a>
          </div>
          <div class="location" *ngIf="contact.contact_number_2">
            <i class="material-icons">phone</i>
            <a href="tel:{{contact.contact_number_2}}">{{contact.contact_number_2}} </a>
          </div>
          <div class="location" *ngIf="contact.email">
            <i class="material-icons">email</i>
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
          </div>
          <div class="location" *ngIf="contact.url">
            <i class="material-icons">language</i>
            <a href="{{contact.url}}">{{contact.url}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
