<!--
  Generated template for the CloseComplaintPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>close Complaint</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form name="f" #f="ngForm">
    <div class="form">
      <ion-list no-lines class="padding10">
        
        
        <ion-item [ngClass]="{'error':f.submitted && closing_type?.invalid}">
          <ion-label floating>Closing Type<span>*</span></ion-label>
          <ion-select name="closing_type" #closing_type="ngModel" [(ngModel)]="formData.closing_type">
            <ion-option value="Service">Service</ion-option>
            <ion-option value="Spare Part Pending">Spare Part Pending</ion-option>
            <ion-option value="Replacement">Replacement</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="f.submitted && closing_type.invalid" class="eror">
          <p *ngIf="closing_type.errors.required">{{'Field is Required'}}</p>
        </div>
        
        <div class="outline-btn scan" (click)="Scaning()" *ngIf="formData.closing_type == 'Replacement'">
          <div class="icons"><i class="material-icons">qr_code_scanner</i></div>
          {{'Scan'}}
        </div>
        
        <ion-item *ngIf="formData.closing_type == 'Replacement'" [ngClass]="{'error':f.submitted && new_serial_no?.invalid}" >
          <ion-label floating>Serial No.<span>*</span></ion-label>
          <ion-input type="text" name="new_serial_no" #new_serial_no="ngModel" [(ngModel)]="formData.new_serial_no" required></ion-input>
        </ion-item>
        <div *ngIf="f.submitted && new_serial_no?.invalid" class="eror">
          <p *ngIf="new_serial_no.errors.required">{{'Field is Required'}}</p>
        </div>
        <ion-item [ngClass]="{'error':f.submitted && replacement_type?.invalid}" *ngIf="formData.closing_type == 'Replacement'">
          <ion-label floating>Replacement Type<span>*</span></ion-label>
          <ion-select name="replacement_type" #replacement_type="ngModel" [(ngModel)]="formData.replacement_type">
            <ion-option value="Dealer">Dealer</ion-option>
            <ion-option value="Company">Company</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="f.submitted && replacement_type?.invalid" class="eror">
          <p *ngIf="replacement_type.errors.required">{{'Field is Required'}}</p>
        </div>
        
        <ion-item [ngClass]="{'error':f.submitted && product_type?.invalid}" *ngIf="formData.closing_type == 'Replacement'">
          <ion-label floating>Product Type<span>*</span></ion-label>
          <ion-select name="product_type" #product_type="ngModel" [(ngModel)]="formData.product_type">
            <ion-option value="Reuse">Reuse</ion-option>
            <ion-option value="New">New</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="f.submitted && product_type?.invalid" class="eror">
          <p *ngIf="product_type.errors.required">{{'Field is Required'}}</p>
        </div>
        
        
        
        <ion-item [ngClass]="{'error':f.submitted && remarks ?.invalid}" *ngIf="formData.closing_type == 'Service'">
          <ion-label floating>Remark <strong>*</strong></ion-label>
          <ion-textarea name="remarks" #remarks="ngModel" [(ngModel)]="formData.remarks"></ion-textarea>
        </ion-item>
        <div class="eror" *ngIf="f.submitted && remarks?.invalid">
          <p> {{ 'This field is required'}}</p>
        </div>
        
        <ion-item [ngClass]="{'error':f.submitted && spare_pending_remark?.invalid}" *ngIf="formData.closing_type == 'Spare Part Pending'">
          <ion-label floating>Spare Pending Remark <strong>*</strong></ion-label>
          <ion-textarea name="spare_pending_remark" #spare_pending_remark="ngModel" [(ngModel)]="formData.spare_pending_remark"></ion-textarea>
        </ion-item>
        <div class="eror" *ngIf="f.submitted && spare_pending_remark?.invalid">
          <p> {{ 'This field is required'}}</p>
        </div>
        
        <ion-item [ngClass]="{'error':f.submitted && closing_remark ?.invalid}" *ngIf="formData.closing_type == 'Replacement'">
          <ion-label floating>Closing Remark <strong>*</strong></ion-label>
          <ion-textarea name="closing_remark" #closing_remark="ngModel" [(ngModel)]="formData.closing_remark"></ion-textarea>
        </ion-item>
        <div class="eror" *ngIf="f.submitted && closing_remark?.invalid">
          <p> {{ 'This field is required'}}</p>
        </div>
      </ion-list>
      
      <div class="add-new padding0">
        <div class="uplode-image">
          <ul>
            <li *ngFor="let pic of image_data;let i = index;">
              <img src="{{pic.image}}">
              <button><i class="material-icons" (click)="remove_image(i)">clear</i></button>
            </li>
            <li (click)="image_data.length < 5 ?  captureMedia() : showLimit()">
              <label>
                <input type="file" style="display: none;">
                <div class="other">
                  <a ><i class="material-icons" >camera_alt</i></a>
                </div>
              </label>
            </li>
          </ul>
        </div>
      </div>
      
      
      
      <div class="enquiry-btn add-btns mt20">
        <button ion-button  class="Buttons1" (click)="send_otp('Confirm');" *ngIf="sendOTP==false "><p>Confirm</p></button>
      </div>
      
      <div *ngIf="Otp_verify==true"> 
        <ion-list class="mb20">
          <ion-item class="cs-textarea">
            <ion-input placeholder="Enter OTP" type="text"  (keypress)="MobileNumber($event)" (input)="verify_otp(data.otp)"name="otp"  #otp="ngModel" [(ngModel)]="data.otp" minLength="6" maxLength="6" required ></ion-input>
          </ion-item>
        </ion-list>
      </div>
      
      <div class="enquiry-btn add-btns mt20"  *ngIf=" OTP_flag==true">
        <button ion-button block class="Buttons1 green-color" style="letter-spacing: 1px;" (click)="closeComplaint()">
          <p> Submit</p>
        </button>
      </div>
    </div>
  </form>
</ion-content>
