<ion-header>
	<ion-navbar>
		<ion-title>Profile</ion-title>
		
		<ion-buttons end (click)="logout()">
			<button ion-button icon-only>
				<i class="material-icons">power_settings_new</i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="profile-container">
		<div class="user-profile" *ngIf="karigar_detail.user_type != 'sales_user'">
			<h2>{{karigar_detail.company_name | titlecase}}</h2>
			<h6>{{karigar_detail.mobile}}</h6>
			<p>
				{{karigar_detail.status == '1' ? 'Active' : 'Inactive'}}
				<i class="material-icons Verified" *ngIf="karigar_detail.status == '1'">verified_user</i>
				<i class="material-icons Reject " *ngIf="karigar_detail.status !='1'">cancel</i>
			</p>
		</div>
		<div class="padding16">
			<div class="profile-card">
				<div class="text-box">
					<p>Name</p>
					<h6>{{karigar_detail.name | titlecase}}</h6>
				</div>
				<div class="text-box">
					<p>Mobile Number</p>
					<h6>{{karigar_detail.mobile}}</h6>
				</div>
				<div class="text-box" *ngIf="karigar_detail.user_type != 'sales_user'">
					<p>Alternative Number</p>
					<h6>{{karigar_detail.altNumber ? karigar_detail.altNumber:'---' }}</h6>
				</div>
				<div class="text-box" *ngIf="karigar_detail.user_type != 'sales_user'">
					<p>Account Code</p>
					<h6>{{karigar_detail.dr_code ? karigar_detail.dr_code:'---'}}</h6>
				</div>
				<div class="text-box">
					<p>Email Id</p>
					<h6>{{karigar_detail.email ? karigar_detail.email :'---'}}</h6>
				</div>
				<div class="text-box" *ngIf="karigar_detail.user_type != 'sales_user'">
					<p>Date Of Birth</p>
					<h6>{{karigar_detail.dob == '0000-00-00' || karigar_detail.dob == null ? '---' : karigar_detail.dob}}</h6>
				</div>
				<div class="text-box" *ngIf="karigar_detail.user_type != 'sales_user'">
					<p>Date Of Anniversary</p>
					<h6>{{karigar_detail.doa == '0000-00-00' || karigar_detail.doa == null ? '---' : karigar_detail.doa}}</h6>
				</div>
				<div class="text-box" *ngIf="karigar_detail.user_type != 'sales_user'">
					<p>GST Number</p>
					<h6>{{karigar_detail.gst ? karigar_detail.gst : ''}}</h6>
				</div>
				<div class="text-box" *ngIf="karigar_detail.user_type != 'sales_user'">
					<p>Address</p>
					<h6>{{karigar_detail.address}}, {{karigar_detail.city}}, {{karigar_detail.district}}, {{karigar_detail.state}}, {{karigar_detail.pincode}}</h6>
				</div>
			</div>
			
			
			<ng-container *ngIf="karigar_detail.type == 3">
				<div class="profile-card" *ngIf="karigar_detail.document_image && karigar_detail.document_image_back && karigar_detail.adhar_no">
					<div class="text-center">
						<h2>Document Information</h2>
					</div>
					<div class="text-box">
						<div class="doc-box">
							<img src="{{upload_url + karigar_detail.document_image}}">
						</div>
						
						<div class="doc-box">
							<img src="{{upload_url + karigar_detail.document_image_back}}">
						</div>
					</div>
					<div class="text-box">
						<p>Document number</p>
						<h6>{{karigar_detail.adhar_no}}</h6>
					</div>
				</div>
				<div class="profile-card" *ngIf="karigar_detail.pan_img && karigar_detail.pan_no">
					<div class="text-center">
						<h2>Pan Card Information</h2>
					</div>
					<div class="text-box">
						<div class="doc-box">
							<img src="{{upload_url + karigar_detail.pan_img}}">
						</div>
					</div>
					<div class="text-box">
						<p>Pan card number</p>
						<h6>{{karigar_detail.pan_no}}</h6>
					</div>
				</div>
				
				<div class="profile-card">
					<div class="text-center">
						<h2>{{ 'Bank Information' }}</h2>
					</div>
					<div class="text-box">
						<p>{{'Account Holder Name'}}</p>
						<h6>{{karigar_detail.account_holder_name ? karigar_detail.account_holder_name:'----'}}</h6>
					</div>
					<div class="text-box">
						<p>{{'Bank Name'}}</p>
						<h6>{{karigar_detail.bank_name ? karigar_detail.bank_name:'----'}}</h6>
					</div>
					<div class="text-box">
						<p>{{'Bank Account Number'}}</p>
						<h6>{{karigar_detail.account_no ? karigar_detail.account_no:'----'}}</h6>
					</div>
					<div class="text-box">
						<p>{{'Bank IFSC Code'}}</p>
						<h6>{{karigar_detail.ifsc_code ? karigar_detail.ifsc_code:'----'}}</h6>
					</div>
					
					<div class="profile-card" *ngIf="karigar_detail.bank_img">
						<div class="text-box">
							<div class="doc-box">
								<img src="{{upload_url + karigar_detail.bank_img}}">
							</div>
							
						</div>
					</div>
				</div>
			</ng-container>
			
			<div class="profile-card">
				<div class="text-center">
					<h2>{{karigar_detail.user_type != 'sales_user' ? 'Sales User' : 'Reporting Manager'}}</h2>
				</div>
				<div class="text-box">
					<p>Name</p>
					<h6>{{karigar_detail.assigned_sales_user ? karigar_detail.assigned_sales_user:'----'}}</h6>
				</div>
			</div>
			
			<div class="app-version" *ngIf="karigar_detail.app_version">
				APP VERSION {{karigar_detail.app_version}}
			</div>
		</div>
	</div>
</ion-content>
