<!--
  Generated template for the ComplaintDetailPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Complaint Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content> 
  <div class="detais">
    <div class="capsule-tabs" style="border-bottom: 0px;">
      <ul>
        <li [ngClass]="{'active':complaint_type == 'Details'}" (click)="complaint_type = 'Details';">
          <p>Details</p>
        </li>
        <li [ngClass]="{'active':complaint_type == 'Inspection'}" (click)="complaint_type = 'Inspection';">
          <p>Inspection</p>
        </li>
        <li [ngClass]="{'active':complaint_type == 'Close'}" (click)="complaint_type = 'Close';">
          <p>Close</p>
        </li>
      </ul>
    </div>
    
    <div class="border-container mt16" *ngIf="complaint_type == 'Details'">
      <div class="summary-heading">Basic Details</div>
      <ng-container>
        <div class="">
          
          <table>
            <tr>
              <th class="w100">Complaint Id</th>
              <td>{{complaint_detail.complain_no ? complaint_detail.complain_no : '---'}}</td>
            </tr>
            <tr>
              <th>Date Created</th>
              <td>{{complaint_detail.date_created ? complaint_detail.date_created :'---'}}</td>
            </tr>
            
            <tr>
              <th>Customer Name</th>
              <td>{{complaint_detail.customer_name ? complaint_detail.customer_name : '---'}}</td>
            </tr>
            <tr>
              <th>Customer Mobile</th>
              <td>{{complaint_detail.customer_mobile ? complaint_detail.customer_mobile : '---'}}</td>
            </tr>
            <tr >
              <th>Nature Of Problem</th>
              <td>{{complaint_detail.nature_of_problem ? complaint_detail.nature_of_problem : '---'}}</td>
            </tr>
            <tr>
              <th>Warranty Status</th>
              <td>{{complaint_detail.warranty_status ? ( complaint_detail.warranty_status) :'---'}}</td>
            </tr>
            <tr>
              <th>Complaint Status</th>
              <td>{{complaint_detail.complaint_status ? complaint_detail.complaint_status :'---'}}</td>
            </tr>
            <tr>
              <th>Inspection Status</th>
              <td>{{complaint_detail.inspection_status ? ( complaint_detail.inspection_status) :'---'}}</td>
            </tr>
            
          </table>
        </div>
        <div class="upload-doc mt16">
          <ul class="no-padding">
            
            <li class="image-upload" *ngFor="let row of complaint_images" (click)="imageModal(bannerURL + row.image)">
              <img src="{{bannerURL + row.image}}">
              
            </li>
          </ul>
          
        </div>
      </ng-container>
    </div> 
    <div class="detais mt16" *ngIf="complaint_type == 'Details'">
      <div class="border-container">
        <div class="summary-heading">Logs</div>
        <ng-container>
          <div class="pb100">
            <div class="remarkSent" *ngFor="let row of complaint_remark">
              <p class="remarkMsg">{{row.msg}}</p>
              <div class="dateCreated"><span>({{row.created_by_type}})</span> <span>{{row.date_created | date:'d MMM y'}}</span></div>
            </div>
            
            <div class="nothing-here" *ngIf="complaint_remark == 0">
              <div class="outer">
                <div class="innear">
                  <img src="assets/imgs/no_found.svg" alt="">
                  <p>Data Not Available</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="border-container mt16" *ngIf="complaint_type == 'Inspection'">
      <div class="summary-heading">Inspection Details</div>
      <ng-container>
        
        <div class="">
          
          <table>
            <tr>
              <th class="w100">Complaint Id</th>
              <td>{{complaint_detail.complain_no ? complaint_detail.complain_no : '---'}}</td>
            </tr>
            <tr>
              <th>Inspection Date</th>
              <td>{{complaint_detail.date_created ? complaint_detail.date_created :'---'}}</td>
            </tr>
            
            <tr>
              <th>Product Details</th>
              <td>{{complaint_detail.customer_name ? complaint_detail.customer_name : '---'}}</td>
            </tr>
            <tr>
              <th>Warranty Status</th>
              <td>{{complaint_detail.customer_mobile ? complaint_detail.customer_mobile : '---'}}</td>
            </tr>
            <tr >
              <th>Inspection Remark</th>
              <td>{{complaint_detail.nature_of_problem ? complaint_detail.nature_of_problem : '---'}}</td>
            </tr> 
          </table>
        </div>
        
      </ng-container>
      
    </div>
    
    <div class="border-container mt16" *ngIf="complaint_type == 'Close'">
      <div class="summary-heading">Closing Details</div>
      <ng-container>
        
        <div class="">
          
          <table>
            <tr>
              <th class="w100">Complaint Id</th>
              <td></td>
            </tr>
            <tr>
              <th>New Serial No.</th>
              <td></td>
            </tr>
            <tr>
              <th>Closing Date</th>
              <td></td>
            </tr>
            <tr>
              <th>Closing Remark</th>
              <td></td>
            </tr>
          </table>
        </div>
        
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-input-block" *ngIf="complaint_type == 'Details'">
    <textarea type="text" placeholder="Add Remark" name="msg" #msg="ngModel" [(ngModel)]="data.msg"></textarea>
    <button ion-button icon-start color="success" (click)="addRemark()"><ion-icon name="send"></ion-icon></button>
  </div>
  <div class="enquiry-btn add-btns mt20" *ngIf="complaint_type == 'Inspection'">
    <button ion-button block class="h40 green-color" style="letter-spacing: 1px;" (click)="goToInspection(complaint_detail.id)">
      <p>Add Inspection</p>
    </button>
  </div>
  <div class="enquiry-btn add-btns mt20" *ngIf="complaint_type == 'Close'">
    <button ion-button block class="h40 green-color" style="letter-spacing: 1px;" (click)="goToClose(complaint_detail.id,complaint_detail.customer_mobile)">
      <p>Close Complaint</p>
    </button>
  </div>
</ion-footer>