<!--
  Generated template for the ComplaintDetailPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Complaint Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content> 
  <div class="detais mt16">
    
    <div class="border-container mt16">
      <div class="summary-heading">Basic Details</div>
      <ng-container>
        
        <div class="padding16">
          
          <table>
            <tr>
              <th class="w100">Complaint Id</th>
              <td>{{complaint_detail.complain_no ? complaint_detail.complain_no : '---'}}</td>
            </tr>
            <tr>
              <th>Date Created</th>
              <td>{{complaint_detail.date_created ? complaint_detail.date_created :'---'}}</td>
            </tr>
            
            <tr>
              <th>Customer Name</th>
              <td>{{complaint_detail.customer_name ? complaint_detail.customer_name : '---'}}</td>
            </tr>
            <tr>
              <th>Customer Mobile</th>
              <td>{{complaint_detail.customer_mobile ? complaint_detail.customer_mobile : '---'}}</td>
            </tr>
            <tr >
              <th>Nature Of Problem</th>
              <td>{{complaint_detail.nature_of_problem ? complaint_detail.nature_of_problem : '---'}}</td>
            </tr>
            <tr>
              <th>Warranty Status</th>
              <td>{{complaint_detail.warranty_status ? ( complaint_detail.warranty_status) :'---'}}</td>
            </tr>
            <tr>
              <th>Complaint Status</th>
              <td>{{complaint_detail.complaint_status ? complaint_detail.complaint_status :'---'}}</td>
            </tr>
            <tr>
              <th>Inspection Status</th>
              <td>{{complaint_detail.inspection_status ? ( complaint_detail.inspection_status) :'---'}}</td>
            </tr>
            
          </table>
        </div>
      </ng-container>
    </div> 
    
    <div class="detais mt16 ">
      <div class="border-container mt16">
        <div class="summary-heading">Logs</div>
        <ng-container>
          <div class="padding16 scrollable-div">
            
            <ion-list *ngFor="let row of complaint_remark">
              
              <div class="remak-detail">
                <p><span>Date:</span>{{row.date_created}}</p>
                <p><span>Remark:</span>{{row.msg}}</p>
              </div>
              
            </ion-list>
            
          </div>
        </ng-container>
      </div>        
      
    </div>
    
    <div class="detais mt16 ">
      <div class="border-container mt16">
        <div class="summary-heading">Complaint Images</div>
        <ng-container>
          <div class="upload-doc mt10">
            <ul class="no-padding">
              
              <li class="image-upload" *ngFor="let row of complaint_images" (click)="imageModal(bannerURL + row.image)">
                <img src="{{bannerURL + row.image}}">
                
              </li>
            </ul>
            
          </div>
          
          
        </ng-container>
        
      </div>        
    </div> 
    
    <div class="border-container mt16">
      <div class="summary-heading">Inspection Details</div>
      <ng-container>
        
        <div class="padding16">
          
          <table>
            <tr>
              <th class="w100">Complaint Id</th>
              <td>{{complaint_detail.complain_no ? complaint_detail.complain_no : '---'}}</td>
            </tr>
            <tr>
              <th>Inspection Date</th>
              <td>{{complaint_detail.date_created ? complaint_detail.date_created :'---'}}</td>
            </tr>
            
            <tr>
              <th>Product Details</th>
              <td>{{complaint_detail.customer_name ? complaint_detail.customer_name : '---'}}</td>
            </tr>
            <tr>
              <th>Warranty Status</th>
              <td>{{complaint_detail.customer_mobile ? complaint_detail.customer_mobile : '---'}}</td>
            </tr>
            <tr >
              <th>Inspection Remark</th>
              <td>{{complaint_detail.nature_of_problem ? complaint_detail.nature_of_problem : '---'}}</td>
            </tr> 
          </table>
        </div>
      </ng-container>
    </div>

    <div class="border-container mt16">
      <div class="summary-heading">Closing Details</div>
      <ng-container>
        
        <div class="padding16">
          
          <table>
            <tr>
              <th class="w100">Complaint Id</th>
              <td></td>
            </tr>
            <tr>
              <th>New Serial No.</th>
              <td></td>
            </tr>
            <tr>
              <th>Closing Date</th>
              <td></td>
            </tr>
            <tr>
              <th>Closing Remark</th>
              <td></td>
            </tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
  
  
</ion-content>
<ion-fab right bottom>
  <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="top">
    <button ion-fab (click)="goToInspection(complaint_detail.id)">Inspection</button>
    <button ion-fab (click)="goToRemark(complaint_detail.id)">Remark</button>
    <button ion-fab (click)="goToClose(complaint_detail.id,complaint_detail.customer_mobile)">Close</button>
  </ion-fab-list>
</ion-fab>