
page-complaint-detail {
	table{
		width: 100%;
		box-sizing: border-box;
		table-layout: fixed;
		border-collapse: collapse;
		
		tr{
			border-bottom:1px solid #bcbcbc;
			
			th, td{
				padding: 10px 5px;
				font-size: 12px;
			}
			th{
				vertical-align: top;
				text-align: left;
				background: #f8f8f8;
				color: #000000;
			}
			td{
				padding-left: 10px;
				line-height: 20px;
				
				a{
					text-transform: capitalize;
					float: right;
				}
				
				p{
					font-size: 13px;
					line-height: 20px;
				}
			}
			
			&:last-child{
				border-bottom: 0px;
			}
		}
	}
	
	.bg-thumbnail {
		height: 300px;
		text-align: center;
		width: 100%;
		padding: 0px 16px;
		
		
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	.mt16 {
		margin: 10px !important;
	}
	.remak-detail {
		white-space: initial;
		border: solid 1px #ccc;
		margin-top: 11px;
		padding: 16px;
		background: #f7f7f7;
		border-radius: 6px;
		p {
			line-height: 19px;
			font-size: 14px;
			span {
				font-weight: 600;
				color: #000;
			}
		}
	}
	
	.scrollable-div {
		max-height: 300px;
		width: 300px; 
		overflow: auto; 
	}
	
}
